.blogBlock{
    display: flex;
}

.avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.link{
    text-decoration: none;
    margin-left: 30px;
}

.discription {
    margin-top: 2%;
}

.textBlog{
    margin-left: 50px;
}

.buttonRemove{
    margin-top: 20px;
    margin-left: 450px;
}

.modalTitle{
    font-size: 25px;
}

.modalBlock{
    background-color: rgb(173, 189, 185);
    border-radius: 10px;
}

.yesButton{
    height: 35px;
    width: 70px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: green;
    font-size: 25px;
}

.noButton {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: red;
    font-size: 25px;
}

.buttonBlock {
    display: flex;
    justify-content: space-around;
}

.closeButton{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    margin-left: 470px;
}

.titleModal{
    font-size: 20px;
}

.modalBlockUpdate{
    background-color: rgb(173, 189, 185);
    border-radius: 10px;
}

.modalInputUpdate{
    margin-left: 10px;
    margin-top: 10px;
    width: 370px;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    font-size: 20px;
}

.updateButton {
    width: 120px;
    height: 41px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: green;
}

.modalUpdateTitle{
    font-size: 25px;
}

