h3 {
    margin: 0;
}

.inputBlock{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
      margin-bottom: 0.5%;
      margin-top: 1%;
}

    .child1{
        width: 70%;
    }
    .child2{
        width: 30%;
    }
    .child3{
        margin-top: 1%;
        width: 100%;
    }
   
.title{
    margin: 20px 0;
    margin-left: 1.9%;
}

.search{
    margin-left: 2.5%; 
    width: 60%;
}

.blogs{
    margin-left: 1.7%;   
}

.select{
    width: 40%;
}
.buttonAdd{
    margin-left: 70%;
    margin-top: 25px;
}

.inputForm {
    font-size: 20px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.closeButton{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 450px;

}

.createBlogButton{
    font-size: 30px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: beige;
    background: green;
    margin-bottom: 10px;
}

.modalBlock{
background-color: rgb(164, 172, 170);
border-radius: 10px;
}

.titleInput{
    font-size: 30px;
}

.buttonShowMore{
    margin-top: 20px;
   margin-left: 50%;
}


