.mainPostsBlock{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.postBlock{
    max-width: 32%;
    margin-right: 10px;
    list-style-type: none;
}


.postBlock:last-child{
    margin-right: 0x;
}

.title{
    margin-left: 1.9%;
}

.search {
    margin-left: 80%;
    margin-bottom: 1.5%;
}

.searchInput {
    margin-top: 15px;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    padding-left: 5px;
}

.showMoreButton{
    margin-left: 50%;
}