.usersMainBlock {
    margin-top: 30px;
    margin-left: 30px;

}

.inputBlock {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 150px;
    /* display: flex;
    justify-content: space-between; */

}

.inputFirst {
    width: 41%;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;

}

.inputSecond {
    width: 41%;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 30px;
}

.titleBlock {
    height: 38px;
    width: 76.5%;
    border-radius: 2px;
    background-color: rgb(154, 162, 162);

}

.titleBlockUser {
    height: 38px;
    width: 76.5%;
    border-radius: 2px;

}

.titleLogin {
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 45px;
    vertical-align: middle
}

.titleEmail {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 350px;
    vertical-align: middle
}

.titleDate {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 250px;
    vertical-align: middle
}

.userBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonBlock {
    margin-top: -23px;
    margin-left: 63%;
}

.modalBlock {
    background-color: rgb(164, 172, 170);
    border-radius: 10px;
}

.closeButton {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 450px;

}

.titleInput{
    font-size: 25px;
}

.inputForm {
    font-size: 20px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.createBlogButton{
    font-size: 25px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: beige;
    background: green;
    margin-bottom: 10px;
}

a .arrow {
    display: inline-block;
}

.arrow::before {
    content: "";
    display: inline-block;
    border: 10px solid rgb(35, 36, 35);
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
    cursor: pointer;
}

.boxArrow {
    margin-left: 5px;
}

.arrowUp::before {
    border-top-width: 0;
}

.arrowDown::before {
    border-bottom-width: 0;
}
