
.mainPostBlock{
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* .picture{
    width: 500px;
    height: 300px;
} */

.postBlock {
    display: flex;
}

.modalBlock{
background-color: rgb(216, 239, 232);
border-radius: 5px;
}

.yes {
    width: 70px;
    height: 30px;
    font-style: 17px;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 5px;
}
.no {
    margin-left: 50px;
    width: 70px;
    height: 30px;
    font-style: 17px;
    margin-bottom: 20px;
    background-color: red;
    border-radius: 5px;
}

.buttonBlock{
margin-top: 20px;
}

.modalTitle{
    
    font-size: 27px;
}
